= form_for @locker do |f|
  - if @locker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@locker.errors.count, "error")} prohibited this locker from being saved:"
      %ul
        - @locker.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :is_available
    = f.check_box :is_available
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :size
    = f.text_field :size
  .actions
    = f.submit 'Save'
